body{
    background-color: lightgrey;
}

.collapsible-header .btn {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px;
    padding: 0 0.5em;
}

.collapsible-header > .row {
    min-width: 100%;
    min-height: 100%;
    margin: 0;
}

.collapsible-header > .col {
    min-height: 100%;
    height: 100%;
    padding: 0;
}
