<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> <!--Materialize CDN-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <!--Materialize Icons-->
    <title>Task Manager</title>
  </head>
  <body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="{{url_for('get_tasks')}}" class="brand-logo">Task Manager</a>
                <a href="{{url_for('get_tasks')}}" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('get_tasks')}}">View Tasks</a></li>
                    <li><a href="{{url_for('add_task')}}">Add Task</a></li>
                    <li><a href="{{url_for('get_categories')}}">View Categories</a></li>
                    <li><a href="{{url_for('new_category')}}">Add Category</a></li>
                </ul>
                <ul class="sidenav" id="mobile-demo">
                    <li><a href="{{url_for('get_tasks')}}">View Tasks</a></li>
                    <li><a href="{{url_for('add_task')}}">Add Task</a></li>
                    <li><a href="{{url_for('get_categories')}}">View Categories</a></li>
                    <li><a href="{{url_for('new_category')}}">Add Category</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container"> <!-- Wrapping this in a container works same as bootstrap making it more presentable -->
    {% block content %} {% endblock %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script><!--jQuery CDN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $('.collapsible').collapsible();
        $('select').formSelect();
        $('.sidenav').sidenav();
      });
    </script>
  </body>
</html>
